#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    macros {
        test: test {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp T &kp E &kp S &kp T>;
            label = "TEST";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&none  &none          &none      &none       &none  &none  &none                                  &none  &none  &none  &none  &none  &none  &none
&none  &kp APOS       &kp COMMA  &kp PERIOD  &kp P  &kp Y  &none                                  &none  &kp F  &kp G  &kp C  &kp R  &kp L  &none
&none  &none          &kp O      &kp E       &kp U  &kp I  &none  &none  &none      &none  &none  &none  &kp D  &kp H  &kp T  &kp N  &kp S  &kp BACKSLASH
&none  &kp SEMICOLON  &kp Q      &kp J       &kp K  &kp X                &none      &none                &kp B  &none  &kp W  &kp V  &kp Z  &none
&none  &none          &none      &none       &none         &none  &none  &none      &none  &none  &none         &none  &none  &none  &none  &none
            >;
        };
    };
};
