#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    macros {
        test: test {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp T &kp E &kp S &kp T>;
            label = "TEST";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_1 {
            bindings = <
&none  &none  &none  &none  &none  &none  &none                                                                           &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none                                                                           &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &kp LEFT_COMMAND  &kp LEFT_ALT      &kp LEFT_CONTROL  &kp RIGHT_COMMAND  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none                           &none             &none                                       &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none         &none  &none             &none             &none             &none              &none         &none  &none  &none  &none  &none
            >;
        };
    };
};
